// Background color
$primary_color: #2e3a46;
$secondary_color: #1e2d3b;

// Text color
$primary_text_color: white;
$secondary_text_color: gray;

// Text Font Family
$primary_text_font: Arial, Helvetica, sans-serif;